header { margin-top: 2em; }
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  margin: 0.5em;
}

div.img-container {
  padding: 1em;
  position: relative;
  text-align: center;
  height: 480px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 1px gainsboro, 0 0 1px rgba(0, 0, 0, 0);
}

.img-container:hover {
  box-shadow: inset 0 0 0 4px pink, 0 0 1px rgba(0, 0, 0, 0);
}

#photo-grid {
  margin: 1em 3.5em;
}

.info {
  text-align: left;
  font-size: 1.3em;
  font-family: 'Signika', sans-serif;
  position: absolute;
  bottom: 0.5em;
  color: black;
  text-shadow: 1px 1px 1px white, 0 0 5em white, 0 0 0.2em white, 0 0 0.2em white;
}

i {
  color: pink;
  text-shadow: 1px 1px 1px violet, 0 0 5em violet, 0 0 0.2em violet, 0 0 0.2em violet;
}

#by-name {
  font-size: x-large;
}

div.img-container img
{
  vertical-align: middle;
  max-height: 380px;
  display: -moz-inline-box; /* Firefox 2 */
  display: inline-block;
}